.alphabetWrapper_simple {
  width: 90%;
  height: auto;
  /* border: 1px solid black; */
}

.letterCard_drag_p {
  pointer-events: none;
  padding-top: 25%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

.alphabetDropPlace_simple,
.alphabetDragPlace_simple {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  margin: 20px 0;
  height: auto;
  min-height: 250px;
  gap: 20px;
}

.letterCard_drag {
  user-select: none;
  /* margin: 10px; */
  background-color: #ffffff;
  border: none;
  color: #434553;
  width: 50px;
  height: 50px;

  /* padding: 20px 20px; */

  font-weight: 600;
  font-style: normal;
  font-size: 24px;

  cursor: grab;

  text-align: center;

  box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #e9ecf4;
  border-radius: 8px;
  transition: box-shadow 0.5s ease;
}

.letterCard_drag:hover {
  box-shadow: -5px -5px 15px #ecebeb, 5px 5px 15px #c3c6ce;
  transition: box-shadow 0.3s ease;
}

.letterCard_drag_active:hover {
  background-color: #2965e7;
  transition: background-color 0.3s ease;
}

.letterCard_drop {
  border: 0.5px solid #1d66ff;
  user-select: none;
  /* margin: 10px; */
  background-color: #ffffff;
  min-width: 50px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #e9ecf4;
  border-radius: 9px;
}

.letterCard_drag_active {
  box-sizing: border-box;
  user-select: none;
  /* margin: 10px; */
  background-color: #5a8efd;
  border: none;
  color: #ffff;
  /* min-width: 50px;
  min-height: 50px;

  padding: 21px 21px; */

  width: 50px;
  height: 50px;
  /* padding: 8px 0 0 0; */

  font-weight: 600;
  font-style: normal;
  font-size: 24px;

  cursor: grab;

  text-align: center;

  /* box-shadow: -5px -5px 15px #FFFFFF, 5px 5px 15px #E9ECF4; */
  border-radius: 8px;
  transition: background-color 0.5s ease;
}
